<!DOCTYPE html>
<html lang="en" xmlns:th= "https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title> AddressBook </title>
</head>
<body>
<form  action="#" th:action="@{/bodyInfo}" th:object="${bodyInfo}" method="post">
    <fieldset>
        <legend>Create New Buddy</legend>
        <p>
            <label for="name">Name</label> <br>
            <input type="text" id="name" th:field="*{name}"/>
        </p>
        <p>
            <label for="pphone">Phone # </label> <br>
            <input type="text" id="pphone" th:field="*{phoneNum}" />
        </p>
        <p>
            <input type="submit" value="Add" /> <input type="reset" value="Reset" />
        </p>
    </fieldset>
</form>
</body>
</html>